@import "tailwindcss";

@theme {
  --color-auspicious-red: #C41E3A;
  --color-imperial-gold: #FFD700;
  --color-parchment: #FAF0E6;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: var(--color-parchment);
  --foreground: #3D0C02;
  /* Deep brownish red for text */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}